<div class='col-lg-4 playlist'>
  <%= erb :_playlist_manager %>
  <%= erb :_search_results %>
</div>
<div class='col-lg-4 playlist'>
  <%= erb :_playlist %>

  <div id="player"></div>

   <ul id="results">

   </ul>
  <%= erb :_collaborators %>
  <div id="friends"></div>

</div>

<div class='col-lg-4 playlist forms'>
  <%= erb :_playlist_forms %>
  <%= erb :_list_of_playlists %>
</div>

</div>